.main{
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}
.image{
    height: 30px;
}
.heading{
    display: flex;
    
    
}
.heading > li{
    list-style: none;
    padding: 10px;
    position: sticky;

}
.heading > li:hover{
    font-weight: bold
}
.content{
    display: flex;
    font-weight: 100;

    
}
.text{
    align-items:flex-start;
    text-align: start;
}
.text > li{
    list-style: none;
}
.welcome{
    font-size:300%;
    font-stretch: expanded;
    font-weight: 200;
    top: 100px;
    word-spacing: 5px;
    
}
.name{
    font-size: 900%;
    
}
.divide{
    display: flex;
    align-items: flex-end;
    
}

.mountain{
    height: 200px;
    align-content:flex-end ;
    position: relative; 
    width: 100%;
}
.button{
    display: flex;
    
}
.click{
    align-items: flex-start;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 500; 
}

.here{
    padding: 10px;
    border-style: line ;
    border-top: 10px;
    border-right: 10px;
    border-left: 10px;
    background-color: transparent;
    font-weight: 500;
    pad: 20px;
}